.login{
    position: relative;
}

/*로고*/
.Logo_box {
    position: absolute;
    width: 223.81px;
    height: 198px;
    left: 68px;
    top: 93px;
    text-align: center;
}
.onlylogo {
    width: 152px;
    height: 106px;
}
.logotype {
    width: 223.81px;
    height: 43.61px;
    margin: 10px 0;
}
.logotext {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 17px;
    margin:0;
    color: #FFFFFF;
    }

/*로그인 --> account 값 불러옴, 수정 필요*/
.login_warp {
    position: absolute;
    color: white;
    box-sizing: border-box;
    top: 340px;
    width : 100%;
}
.start_btn{
    width: 142px;
    height: 60px;
    background: #D9D9D9;
    border-radius: 6px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 29px;
    margin-left: 180px;
    color: #0A1123;
}
.start_btn.success {
    color: #FFFFFF;
    border: 2px solid #66CC66;
    background: #0A1123;
}
.start_btn.fail {
    color : #FF0000;
    border: 2px solid #FF0000;
    background: #0A1123;
}




/*login_content --> account 값 불러옴, 수정 필요*/
.login_content {
    width: 300px;
    height: 40px;
    margin: 10px 20px;
    line-height: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    color:#FFFFFF;
}
.account_content.success {
    color : #66CC66;
    border: 2px solid #66CC66;
}
.account_content.fail {
    color : #FF0000;
    border: 2px solid #FF0000;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* 로그인 버튼 활성/비활성화 버튼 색상 변경 --> 데브리 맞게 색상 조정 필요 */
.loginButton {
    margin-top: 10px;
    padding: 0;
    width: 250px;
    height: 30px;
    border: none;
    background-color: #0095f6;
    color: white;
    font-size: 17px;
    border-radius: 5px;

    &:disabled {
      background-color: rgba(0, 149, 246, 0.3);
    }
  }
