/* 검색창 */
.search-bar {
  box-sizing: border-box;
  position: relative;
  width: 316px;
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  align-items: center;
  margin: 0 auto;
}
.search-bar.success{
  border: 2px solid #66CC66;
}

.search-icon {
position: relative;
top: 9px;
left: 11px;
}

.search {
  position: absolute;
  background-color: transparent;
  right: 0px;
  width: 260px;
  height: 38px;
  border: none;
  top:50%;
  line-height: 100%;
  transform: translateY(-50%);
  color: white;
}

.search:focus {
  outline: none;
}

.search:focus::placeholder {
  opacity: 0;
}

.search::placeholder {
  color: #FFFFFF;
  font-size: 14px;
  /* transform:translate3d(0,-4px,0); */
  font-weight: 400;
  line-height: 20px;
}

.board-title-container {
  width: 316px;
  height: 80px;
  margin: 0 auto;
  margin-top: 20px;
}

.board-title-box {
  display: flex;
  width: 100%;
  height: 26px;
  color: white;
  align-items: center;
}

.board-detail {
  width: 100%;
  height: 17px;
  margin-top: 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: white;
  text-align: center;
}

.board-title {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-right: 73.25px;
}

.favorite-button-box {
  position: absolute;
  height: 26px;
  line-height: 20px;
  right: 30.25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.favorite-button-box img {
  vertical-align: middle;
}

.back-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 9px;
}

.back-button img {
  vertical-align: middle;
}

.post-list {
  width: 316px;
  padding: 0 22px;
  height: 400px;
  overflow-x: hidden;
}

.post-list::-webkit-scrollbar {
  width: 8px;
}

.post-list::-webkit-scrollbar-thumb {
  height: 30%;
  background-color: #304057;
  border-radius: 10px;
}

.post-list::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}


.pencil2 {
  object-fit: fill;
}

.write-post-container2 {
  position: fixed;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
    bottom: 68px;

}

.board-main-container {
  width: 360px;
  height: 573px;
}