/* 글쓰기 버튼 */
.pencil2 {
  object-fit: fill;
}

.write-post-container2 {
  position: absolute;
  z-index: 2;
  width: 360px;
  margin: 0 auto;
  top: 30px;
  left: 180px;

}

/* 검색창 */
.search-bar {
  box-sizing: border-box;
  position: absolute;
  width: 316px;
  height: 40px;
  border-radius: 10px;
  align-items: center;
  margin: 0 auto;
  top: 90px;
  left: 104px;
  background: rgba(217, 217, 217, 0.08);
}
.search-bar.success{
  border: 2px solid #66CC66;
}

.search-icon {
  position: relative;
  top: 9px;
  left: 11px;
}

.search {
  position: absolute;
  background-color: transparent;
  right: 0px;
  width: 260px;
  height: 38px;
  border: none;
  top:50%;
  line-height: 100%;
  transform: translateY(-50%);
  color: white;
}

.search:focus {
  outline: none;
}

.search:focus::placeholder {
  opacity: 0;
}

.search::placeholder {
  color: #FFFFFF;
  font-size: 14px;
  /* transform:translate3d(0,-4px,0); */
  font-weight: 400;
  line-height: 20px;
}

.board-title-container {
  position:absolute;
  width: 316px;
  height: 80px;
  margin: 0 auto;
  margin-top: 20px;
  top: 120px;
  left: 95px;
}

.board-title-box {
  display: flex;
  width: 100%;
  height: 26px;
  color: white;
  align-items: center;
}

.board-detail {
  width: 310px;
  margin-top: 14px;
  margin-left: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: white;
  text-align: center;
  border-left: 2px solid #66CC66;
}

.board-title {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-right: 73.25px;
}

.favorite-button-box {
  position: absolute;
  height: 26px;
  line-height: 20px;
  right: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.favorite-button-box img {
  vertical-align: middle;
}

.back-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 9px;
}

.back-button img {
  vertical-align: middle;
}

.post-list {
  position:relative;
  width: 316px;
  padding: 0 22px;
  height: 475px;
  overflow-x: hidden;
  margin-top: 200px;
}

.post-list::-webkit-scrollbar {
  width: 8px;
}

.post-list::-webkit-scrollbar-thumb {
  height: 30%;
  background-color: #304057;
  border-radius: 10px;
}

.post-list::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

.board-main-container {
  width: 360px;
  height: 573px;
}

/* 스크랩한 게시물 */
.left-arrow {
  float:left;
  margin:5px;
}
.scrapPostTitle{
  font-weight: 900;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  float:left;
  margin:0 10px;
}
.bookmark_Posts{
  margin: 5px 10px;
  float:right;
}