.board-list {
    margin-top: 50px;
    /* margin: 0 auto; */
    padding: 0 22px;
}

/* favorite-boards */
.favorite-title {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.favorite-title p {
    margin: 0px;
    font-weight: 900;
    font-size: 18px;
    line-height: 26px;
    color: white;
    margin-right: 22px;
}

.favorite-title button {
    background-color: transparent;
    border: none;
}

.board-menu {
    height: 40px;
    /* padding: 5px 0; */
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    vertical-align:middle;
}

.board-menu button {
    background-color: transparent;
    border: none;
    margin-right: 17px;
    margin-top: 4px;
}

.right-arrow {
    position: absolute;
    right: 14px;
}

.favorite-boards {
    width: 100%;
    margin-bottom: 14px;
}

.closed {
    display: none;
}

.board-menu div {
    color: white;
}

/* all board */
.all-boards-title {
    display: flex;
    margin-bottom: 14px;
}

.all-boards-title p {
    margin: 0px;
    font-weight: 900;
    font-size: 18px;
    line-height: 26px;
    color: white;
    margin-right: 22px;
}

.all-boards-menu {
    display: flex;
    margin-bottom: 20px;
}

.scrap-star {
    cursor: pointer;
}

.unscrap-star {
    cursor: pointer;
}

.board-name {
    cursor: pointer;
}

.boards-toggle-button {
    cursor: pointer;
}