.lecture-search-bar {
  box-sizing: border-box;
  position: relative;
  width: 316px;
  height: 40px;
  border-radius: 10px;
  align-items: center;
  margin: 0 auto;
  background: rgba(217, 217, 217, 0.08);
}

.lecture-search-icon {
position: relative;
top: 9px;
left: 11px;
}

.lecture-search {
  position: absolute;
  background-color: transparent;
  right: 0px;
  width: 260px;
  height: 38px;
  border: none;
  top:50%;
  line-height: 100%;
  transform: translateY(-50%);
  color: white;
}

.lecture-search:focus {
  outline: none;
}

.lecture-search:focus::placeholder {
  opacity: 0;
}

.lecture-search::placeholder {
  color: #FFFFFF;
  font-size: 14px;
  /* transform:translate3d(0,-4px,0); */
  font-weight: 400;
  line-height: 20px;
}