.reComments-container {
  margin-top: 11px;
}

.gray-upthumb-icon {
  /* display: block; */
  /* vertical-align: middle; */
  /* text-align: start; */
  margin-right: 8.49px;
  position: relative;
  bottom: 1px;
  cursor: pointer;
}

.comments-container {
  width: 100%;
  height: auto;
}

.comment-container {
  border-top: 1px solid #2F343A;
  width: 316px;
  /* border: 1px solid white; */
}

.comment-menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.comment-menu-icon {
  /* cursor: pointer; */
  vertical-align: middle;
}

.comment-content {
  margin-top: 10px;
  font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 17px;
color: white;
}

.comment-detail {
  display: flex;
  margin-top: 14px;
  width: 100%;
  height: 16px;
  /* border: 1px solid white; */
  margin-bottom: 6px;
}

.comment-user-name {
  font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 14px;
margin-left: 20px;
color: #FFFFFF;
margin-right: 30px;
/* width: 100px; */
}

.comment-elapsed-time {
  font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 14px;
text-align: right;
color: #FFFFFF;
}

.comment-button-box {
  position: absolute;
  display: flex;
  /* width: 64px; */
  height: 16px;
  /* border: 1px solid white; */
  right: 23px;
  align-items: center;
}