.header {
  position: relative;
  display: flex;
  width: 316px;
  height: 54px;
  padding: 0 22px;
  margin-top: 26px;
  margin-bottom: 20px;
}

.logo {
  object-fit: contain;
  vertical-align: middle;
  margin-top: 12px;
  width: 121px;
  height: 31px;
  cursor: pointer;
}

.profile {
  background-color: white;
  border-radius: 27px;
  width: 54px;
  height: 54px;
  margin-left: 139px;
  cursor: pointer;
}

.human {
  position: absolute;
  width: 23.5px;
  height: 24.6px;
  right: 39px;
  top: 14.7px;
  cursor: pointer;
}