.low-bar {
  position: fixed;
  display: flex;
  width: 316px;
  height: 61px;
  bottom: 38px;
  left: 22px;
  justify-content: space-between;
}

.home-button {
  height: 100%;
  width: 60px;
  text-align: center;
  position: relative;
}

.home-icon-box {
  padding-top: 20px;
}

.home-text {
  color: white;
  font-size: 10px;
  text-decoration: none;
}

.active-home-text {
  color:#66CC66;
  font-size: 10px;
}

.lecture-button {
  height: 100%;
  width: 60px;
  text-align: center;
}

.board-button {
  height: 100%;
  width: 60px;
  text-align: center;
}

.menu-button {
  height: 100%;
  width: 60px;
  text-align: center;
}

a:active {
  color: transparent;
}


.lecture-icon-box {
  padding-top: 19px;
}

.board-icon-box {
  padding-top: 19px;
}

.menu-icon-box {
  padding-top: 21px;
}