.curri-navigation-container {
  display: flex;
  width: 333px;
  height: 50px;
  margin-left: 13px;
  justify-content: space-between;
  align-items: center;
}

.left-swipe-box {
  width: 18px;
  height: 38px;
}

.right-swipe-box {
  width: 18px;
  height: 38px;
}

.curri-navi-title {
  font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 26px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
margin-bottom: 7px;
}

.curri-when-started {
  font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 17px;
text-align: center;

color: #FFFFFF;

}