.write-comment-box {
  position: fixed;
  width: 316px;
  height: 40px;
  bottom: 40px;
  background: #0A1123;
  border: 2px solid #66CC66;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  z-index: 100;
  margin-left: 22px;
  color: white;
}
.write-comment-input:focus {
  outline: none;
}
.write-comment-input::placeholder {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #66CC66;
}

.write-comment-input {
  width: 250px;
  height: 20px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  background-color: transparent;
  border: none;
  color: white;
}
.write-comment-input:focus::placeholder {
  opacity: 0;
}
.write-comment-box span {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  color: #66CC66;
}

.write-comment-icon-box {
  margin: 12px 10px 12.85px 16.86px;
  width: 16px;
  height: 16px;
  line-height: 16px;
}