html, body {
  position: absolute;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: #0A1123;
  font-family: 'Noto Sans KR', sans-serif;
  width: 360px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

#root {
  position: relative;
  width: 360px;
  /* height: 800px; */
}

body::-webkit-scrollbar {
  display: none;
}