 /* .post-write-cancel-modal {
  position: fixed;
  width: 316px;
  opacity: 1;
  height: 86px;
  background-color: #D9D9D9;
  border-radius: 10px;
  z-index: 99;
  animation: modal-show 0.3s;
  overflow: hidden;
  top: 300px;
  left: 22px;
} */


.post-write-cancel-modal .open-modal {
  display: block;
  animation: modal-bg-show 0.3s;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cancel-title {
  display: flex;
  width: 250px;
  height: 22px;
  position: relative;
  top: 14px;
  left: 20px;
  align-items: center;
}

.cancel-title span {
  font-weight: 700;
  font-size: 14px;
}

.alert-icon-box {
  width: 22px;
  height: 22px;
  margin-right: 11px;
}

.yesno-box {
  position: absolute;
  width: 141px;
  height: 28px;
  right: 17px;
  bottom: 10px;
}

.cancel-yes-button {
  width: 60px;
  height: 28px;
  background-color: #FF0000;
  border-radius: 10px;
  border: 1px solid #FF0000;
  color: white;
  font-size: 10px;
  line-height: 14px;
  font-weight: 700;
  margin-right: 7px;
  font-family: 'Noto Sans KR';
font-style: normal;
}

.cancel-no-button {
  width: 74px;
  height: 28px;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid white;
  font-weight: 800;
font-size: 10px;
line-height: 14px;
font-family: 'Noto Sans KR';
font-style: normal;
}

.modal {
  /* display: none; */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.post-write-cancel-modal {
  width: 316px;
  height: 86px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #D9D9D9;
  border-radius: 10px;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  /* overflow: hidden; */
  position: relative;
}

.modal-show {
  animation: modal-show 0.3s;
}

.modal-close {
  animation: modal-close 0.3s;
}

.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}

.modal.closeModal {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  animation: modal-bg-close 0.3s;
}


@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-close {
  from {
    opacity: 1;
    margin-top: 0;
  }
  to {
    opacity: 0;
    margin-top: -50px;
  }
}

@keyframes modal-bg-close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.display-none {
  display: none;
}