.post-container {
  box-sizing: border-box;
  padding: 5px 22px 0 22px ;
  /* border: 1px solid white; */
  width: 360px;
  height: 600px;
  z-index: 10;
  position: relative;
}

.post-scroll-part {
  overflow-x: hidden;
  height: 550px;
  width: 338px;
}
.post-scroll-part::-webkit-scrollbar {
  width: 8px;
}

.post-scroll-part::-webkit-scrollbar-thumb {
  height: 30%;
  background-color: #304057;
  border-radius: 10px;
}

.post-scroll-part::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

.post-subject {
  width: 316px;
  height: auto;
  box-sizing: border-box;
  padding: 10px 12.23px 6px 23px;
  border-bottom: 1px solid #2F343A;;
  margin-top: 10px;
}

.post-title-box {
  margin-right: 10px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  width: 200px;
}

.post-title-container {
  position: relative;
}

.post-title-wrapper {
  display: flex;
  width: 316px;
}

.post-user-info {
  align-items: center;
  display: flex;
  margin-top: 17.75px;
}

.post-user-profile {
  height: 22px;
  margin-right: 6.22px;
}

.post-user-nickname {
  height: 14px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;

  color: #FFFFFF;
}

.report-user-box {
  display: flex;
  margin-top: 10px;
  margin-bottom: 6px;
  right: 0px;
  align-items: center;
  margin-left: 243px;
}

.report-icon-box {
  margin-right: 7.87px;
  /* height: 14px; */
}

.post-setting-container {
  width: 316px;
  top: 90px;
  background-color: #0A1123;
  z-index: 10;
}

.post-setting-menu-container {
  width: 316px;
  height: 139px;
  background: #8B95A1;
  border-radius: 10px;
  margin-bottom: 6px;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  border: 1px solid black;
}

.post-setting-cancel-container {
  width: 316px;
  height: 48px;
  background: #212632;
  border-radius: 10px;
  font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 700;
font-size: 16px;
color: #FFFFFF;
text-align: center;
border: 1px solid black;
cursor: pointer;
}

.post-setting-modal-title {
  font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 43px;
text-align: center;
flex: 1;

color: #0A1123;
}
.post-modify {
  flex: 1;
  box-sizing: border-box;
  width: 300px;
  height: 48px;
  border-width: 2px 0px;
  border-style: solid;
  border-color: #0A1123;
  margin: 0 auto;
  font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 16px;
  line-height: 42px;
  height: 47px;
  background-color: transparent;
  cursor: pointer;
}

.post-delete {
  flex: 1;
  font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 23px;
text-align: center;
height: 47px;
color: #000000;
background-color: transparent;
border: none;
cursor: pointer;
}

.post-menu-button {
  height: 25px;
  line-height: 0px;
  position: absolute;
  right: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.post-menu-icon {
  /* vertical-align: middle; */
}

.post-report-text {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 14px;

  color: #FFFFFF;
}

.post-comment-number {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;

  color: #66CC66;
}

.post-elapsed-time {
  margin-top: 4px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
  color: #FFFFFF;
}

.post-main-content {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: white;
  margin-top: 30px;
}

.post-button-container {
  display: flex;
  align-items: center;
  margin-top: 36px;
  width: 186px;
  height: 40px;
  /* border: 1px solid white; */
  margin-left: 112px;
  margin-bottom: 37px;
}

.like-status-button {
  box-sizing: border-box;
  align-items: center;
  width: 90px;
  height: 40px;
  border: 2px solid #66CC66;
  border-radius: 10px;
  padding: 10.22px 17px 9.14px 10.23px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  background-color: transparent;
  margin-right: 22px;
  padding: 10.22px 17px 9.14px 10.23px;
  line-height: 17px;
  position: relative;
  color: white;
  cursor: pointer;
}

.liked-inpost-like-number {
  position: absolute;
  z-index: 4;
  top:55%;
  left: 24%;
  margin-top: -7px;
  margin-left: -2.9px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  color: white;
}

.like-status-button img {
  margin-right: 10.23px;
}

.default-inpost-like-number {
  position: absolute;
  z-index: 4;
  top:55%;
  left: 24%;
  margin-top: -7px;
  margin-left: -2.9px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;

  color: #0A1123;
}
.post-like-gray-icon {
  position: absolute;
  top:50%;
  left: 50%;
  margin-top: -9.5px;
  margin-left: -11px;
}

.default-status-button {
  box-sizing: border-box;
  display: flex;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  color: white;
  width: 90px;
  height: 40px;
  border-radius: 10px;
  margin-right: 22px;
padding: 10.22px 17px 9.14px 10.23px;
  font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
position: relative;
cursor: pointer;
}

.default-status-button img {
  margin-right: 10.23px;
}

.scrap-button {
  font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 14px;
  background-color: transparent;
  width: 74px;
  height: 28px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.up-thumb-button {
  display: block;
  width: 14px;
  height: 25px;
  line-height: 14px;
  margin-right: 8px;
  background-color: transparent;
  border: none;
}

.up-vote-number {
  font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 14px;
color: #FFFFFF;
margin-right: 8px;
}

.barrier-line {
  border-left: 1px solid #8B95A1;
height: 16px;
margin-right: 9px;
}

/* .re-comment-button {
  display: block;
  background-color: transparent;
  border: none;
  width: 16px;
  height: 16px;
  line-height: 14px;
  align-items: center;
} */

/* 포스트 신고 모달창 */
.post-report-button {
  width: 316px;
  height: 48px;
  background: #8B95A1;
  border-radius: 10px;
  margin-bottom: 6px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;

  color: #000000;
}

/* 포스트 신고 버튼 누른 후 모달창 */
.post-report-detail {
  width: 316px;
  /* height: 282px; */
  background: #8B95A1;
  border-radius: 10px;
  margin-bottom: 6px;
  }

  .ad-spam-report {
    box-sizing: border-box;
    border-width: 2px 0px;
    border-style: solid;
    border-color: #0A1123;
    text-align: center;
    width: 300px;
    height: 48px;
    align-items: center;
    line-height: 44px;
    margin: 0 auto;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    color: #000000;
  }

.fish {
  text-align: center;
  width: 300px;
  height: 48px;
  align-items: center;
  line-height: 44px;
  margin: 0 auto;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  color: #000000;
}

.irrelevant {
  box-sizing: border-box;
  border-width: 2px 0px;
  border-style: solid;
  border-color: #0A1123;
  text-align: center;
  width: 300px;
  height: 48px;
  align-items: center;
  line-height: 44px;
  margin: 0 auto;
  font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 16px;
text-align: center;
cursor: pointer;
color: #000000;
}

.hate {
  text-align: center;
  width: 300px;
  height: 48px;
  align-items: center;
  line-height: 44px;
  margin: 0 auto;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  color: #000000;
}

.other {
  box-sizing: border-box;
  border-width: 2px 0px;
  border-style: solid;
  border-color: #0A1123;
  text-align: center;
  width: 300px;
  height: 48px;
  align-items: center;
  line-height: 44px;
  margin: 0 auto;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;

  color: #000000;
  cursor: pointer;
}

.default-status-scrap-button {
  box-sizing: border-box;
  width: 74px;
  height: 28px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  background-color: transparent;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;

  color: #FFFFFF;
  align-items: center;
  position: relative;
  display: flex;
  cursor: pointer;
}

.default-status-scrap-button img {
  line-height: 10px;
  position: absolute;
  left: 11px;
  top: 7px;
  margin-right: 9px;
}

.default-status-scrap-button div {
  position: absolute;
  left: 30px;
}

.scrap-status-button {
  box-sizing: border-box;
  width: 74px;
  height: 28px;
  border: 1px solid #66CC66;
  border-radius: 10px;
  background-color: #66CC66;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 800;
  font-size: 10px;

  color: #0A1123;
  align-items: center;
  position: relative;
  display: flex;
  cursor: pointer;
}

.scrap-status-button img {
  line-height: 10px;
  position: absolute;
  left: 11px;
  top: 7px;
  margin-right: 9px;
}

.scrap-status-button div {
  position: absolute;
  left: 30px;
}

.bottom-bar-blocker2 {
  position: fixed;
  width: 360px;
  height: 100px;
  background-color: #0A1123;
  bottom: 0px;
  z-index: 1;
  box-shadow: 0px -9px 13px -6px rgba(0, 0, 0, 0.7);
  border-radius: 10px 10px 0px 0px;
}

.board-title-box2 {
  display: flex;
  width: 100%;
  height: 33px;
  color: white;
  align-items: center;
  margin-left: -10px;
}